.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6; /* bg-gray-100 */
    color: #1f2937; /* text-gray-900 */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    border: 2px solid #000; /* Черная рамка толщиной 2 пикселя */
    padding: 1rem; /* Внутренний отступ */
    background-color: #ffffff; /* Белый фон */
}

.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6; /* bg-gray-100 */
    color: #1f2937; /* text-gray-900 */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    border: 2px solid #000; /* Черная рамка толщиной 2 пикселя */
    padding: 1rem; /* Внутренний отступ */
    background-color: #ffffff; /* Белый фон */
}
